@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1.1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

body {
  background-color: #000;
  font-size: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #000;
}

div {
  background-color: #008000;
}

span {
  background-color: #800080;
}

.header__title {
  font-size: 50px;
  color: #7fffd4;
  font-weight: 700;
  text-align: center;
  padding: 30px 0;
  background-color: #050142;
}

.block1 {
  margin: 30px 0;
  padding: 20px;
}

.inline1 {
  margin: 20px;
}

.block2 {
  display: inline;
}

.block3 {
  margin-top: 20px;
  width: 500px;
  height: 300px;
  margin-bottom: 30px;
  padding: 10px 20px 30px 40px;
}

.block4 {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 100px;
}

.inline2 {
  display: block;
  max-width: 400px;
  min-width: 300px;
  min-height: 200px;
  box-sizing: content-box;
  padding: 20px;
  margin: 0 0 20px 50px;
}

.inline3 {
  display: inline-block;
  width: 500px;
  height: 200px;
  box-sizing: padding-box;
  padding: 20px;
  margin-bottom: 20px;
}

.block5 {
  width: 500px;
  height: 300px;
  font-size: 25px;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.block6 {
  max-width: 600px;
  width: 100%;
  max-height: 200px;
  padding: 20px;
  overflow: scroll;
  margin-bottom: 20px;
}

.inline3 {
  display: inline-block;
  max-width: 600px;
  width: 100%;
  max-height: 200px;
  padding: 20px;
  overflow: auto;
  margin-bottom: 20px;
}

.block7 {
  display: none;
}

.plus {
  background-color: #1f0066;
  margin-bottom: 30px;
  padding: 50px 0;
  font-style: italic;
}

.task {
  color: #ffff00;
  margin: 20px 30px 10px 20px;
  text-shadow: 1px 1px 1px #000;
  text-align: justify;
}

.plus__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.plus__inline1 {
  display: block;
  margin-bottom: 5px;
}

.plus__block1 {
  display: inline-block;
  max-height: 200px;
  max-width: 200px;
  padding: 15px;
  overflow: auto;
}

.plus__link1 {
  display: inline-block;
  margin: 0 0 30px 0;
  background-color: #fff;
}

.plus__text1 {
  display: inline-block;
  background-color: #ffff00;
  color: #000;
  max-width: 100px;
  font-size: 14px;
  padding: 10px;
  margin: 0 30px 0 0;
}

.plus__block2,
.plus__block3 {
  padding: 30px;
}

.plus__block2 {
  max-width: 1000px;
  margin: 0 auto;
}

.plus__block3 {
  max-width: 700px;
  background-color: #805700;
  margin: -40px auto 0;
}

.plus__inline2 {
  display: inline-block;
  padding: 30px;
  max-height: 200px;
  overflow: auto;
}

.footer__text {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #ff00ff;
  padding: 30px 0;
  background-color: #050142;
}
